<!doctype html>
<html lang="en">
  <head>
    <meta name="author" content="Carlos Alexandre Monteiro Deretti" />
    <meta
      name="description"
      content="Um sistema de criação e check de tarefas"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>1
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Quest Board</title>
  </head>
  <body>
    <header>
      <h1 class="headerTitle">Quest Board</h1>
      <button class="addQuest" aria-label="Adicionar Nova Quest">
        <span class="icon">+</span>
      </button>
    </header>
    <main></main>
    <script src="../js/app.js"></script>
  </body>
</html>
